<?xml version="1.0" encoding="UTF-8"?>
<widget id="A6939644085551" security="false" version="0.0.1">

    <name>瑞办公</name>
	
    <description>瑞思德生命科学瑞办公</description>

    <author email="laozheyouxiang@163.com" href="http://ruisidechina.com/">
		信息中心-数据库
    </author>

    <content src="index.html"/>
    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

	<preference name="hScrollBarEnabled" value="true"/>

	<preference name="vScrollBarEnabled" value="true"/>

	<preference name="autoLaunch" value="false"/>

	<preference name="fullScreen" value="false"/>

	<preference name="autoUpdate" value="true"/>

	<preference name="smartUpdate" value="true"/>

	<preference name="debug" value="false"/>

	<preference name="iOS7StatusBarAppearance" value="false"/>
	
	<preference name="statusBarAppearance" value="false" />

	<permission name="readPhoneState"/>

	<permission name="camera"/>

	<permission name="record"/>

	<permission name="location"/>

	<permission name="fileSystem"/>

	<permission name="internet"/>

	<permission name="hardware"/>
	
	<feature name="ajpush">
        <param name="app_key" value="1eda90c41c369d6714962fc4" />
        <param name="channel" value="ruiside" />
    </feature>
	
	<feature name="baiduLocation">
		<param name="apiKey" value="5tb7oZ9V71XVOp0Ztv6iFUoQ2iNGeL6k" />
	</feature>

</widget>